*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: rgb(190, 190, 190);
}
html,body{
    height: 100%;
   
}
.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color:black;
}
.sidebar-wraper{
    padding-bottom: 200px;

}
.sidebar-menu{
    margin: 20px 0;
    color: rgb(190,190,190);
    
}
.sidebar-logo img{
    max-width: 250px;
    width: 100%;
    padding: 20px;
}
.sidebar-menu a{
    color: rgb(190, 190, 190);
    text-decoration: none;
    display: block;
    padding: 10px 0;
}
.sidebar-menu svg{
    margin: 0 20px;
}
.sidebar-menu a.sidebar_menu_selecionado{
    color: white;
    background-color: rgb(80,80,80);
    border-radius: 5px;

}
.sidebar-menu-item{
    margin-top: 12px;
    cursor: pointer;
    vertical-align: middle;
}
.sidebar-menu p.sidebar-playlist{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
.sidebar-menu-componente{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: white;
    font-size: 25px;
}
.sidebar-menu-item span{
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
}
.sidebar-menu-item img{
    width: 32px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
}
.sidebar-playlist{
    padding: 10px 0;
    margin: 10px;
    border-top: 1px solid rgb(58, 52, 52);
}

.sidebar-playlist a{
    margin: 10px 0;
    display: block;
    color: rgb(190,190,190);
    text-decoration: none;
}
.sidebar-playlist a:hover{
    color:white;
}
 .main img{
    align-items: center;
    width: 70px;
    height: 60px;
    
 }
 .main{
    width: calc(100% - 250px);
    background-color: rgb(30,30,30);
    height: 100%;
    float: left;
    padding: 15px 50px;
    overflow-y:  auto;

 }
 .main-row{
     display: flex;
     flex-wrap: wrap;
     width: 100%;
     margin-top: 20px;
     margin-bottom: 40px;
 }

 .main-wrape{
     padding-bottom: 200px;
     
 }

 .main-roe-title{
     width: 100%;

 }
 .main-ron-title h2{
     color: white;
     
 }

 .main-col{
     cursor: pointer;
     width: 10%;
     margin-right: 1%;
     margin-top: 20px;

     background-color: #282828;
     border-radius: 8px;
     padding: 10px;
     text-align: center;


 }